.headerTextBox div {
    height: 25px; 
    background-color: lightblue;
    text-align:center;
}

.headerTextBoxSmall div {
    width: 100%;
    height: 25px; 
    background-color: lightblue;
    text-align:center;
}

.headerBoxLarge div {
    width: 408%; 
    height: 25px; 
    background-color: lightblue; 
}

.textBoxSmall {
    width: 100%; 
    height: 35px; 
}

.textBoxSmallBold {
    width: 100%; 
    height: 35px; 
    font-weight: bold;
}

.textBoxLarge {
    width: 100%; 
    height: 35px; 
}

.textBoxXtraLarge {
    width: 100%; 
    height: 35px; 
    text-align:center;
}

.stdInputBoxLarge {
    width: 100%;
    height: 35px; 
}

.stdInputBox input {
    text-align: right;
}

.stdInputBoxBold input {
    font-weight: bold;
    text-align: right;
}