/* td { 
    background-color: white;
    color: black;
    width: 150px;
 }

table {
    background-color: lightgray;
}  */


.comboTextAlign input  {
    text-align: right;
}

.stdTextBox div {
    width: 150px; 
    height: 35px; 
    text-align:center;
}

.std300TextBox div {
    width: 302px; 
    height: 35px; 
    text-align:center;
}

.std450TextBox div {
    width: 454px; 
    height: 35px; 
    text-align:center;
}

.headerTextBox div {
    width: 150px; 
    height: 25px; 
    background-color: lightblue;
    text-align:center;
}

.header600TextBox div {
    width: 612px; 
    height: 25px; 
    background-color: lightblue; 
    border-color: white;
}
.stdInputBox input {
    width: 150px; 
    height: 35px; 
    text-align:right;
}

.std300InputBox input {
    width: 284px !important;
    height: 35px; 
}

.dijitTextBox {
    width: unset;
}

.dijitArrowButtonInner {
    width: 16px;
}